In [51]:
import statsmodels.api as sm
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import plotly.express as px

In [52]:
df = pd.read_csv("E:\\Dessertation\\desertion_dkit_msc_2022_sep\\suicide_master.csv")
df.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,6.306708e+10,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,6.306708e+10,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,6.306708e+10,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,6.306708e+10,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,6.306708e+10,2309,Boomers

In [53]:
# remove special character
df.columns = df.columns.str.replace(' ', '')

In [54]:
df.columns = map(str.lower, df.columns)

In [55]:
df.rename( {'gdp_for_year($)':'yearly_gdp' } , axis=1 , inplace = True)
df.rename( {'gdp_per_capita($)':'gdp_per_capita' } , axis=1 , inplace = True)
df.rename( {'hdiforyear':'yearly_hdi' } , axis=1 , inplace = True)
df.rename( {'suicides/100kpop':'sucid_in_hundredk' } , axis=1 , inplace = True)
df.rename( {'suicides_no':'suicides' } , axis=1 , inplace = True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27820 non-null  object
 1   year               27820 non-null  int64
 2   sex                27820 non-null  object
 3   age                27820 non-null  object
 4   suicides           27820 non-null  int64
 5   population         27820 non-null  int64
 6   sucid_in_hundredk  27820 non-null  float64
 7   country-year       27820 non-null  object
 8   yearly_hdi         8364 non-null   float64
 9   yearly_gdp         27820 non-null  float64
 10  gdp_per_capita     27820 non-null  int64
 11  generation         27820 non-null  object
dtypes: float64(3), int64(4), object(5)
memory usage: 2.5+ MB

In [57]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
country,27820,101,Iceland,382,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,27820.0,NaN,NaN,NaN,2001.258375,8.469055,1985.0,1995.0,2002.0,2008.0,2016.0
sex,27820,2,male,13910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,27820,6,55-74 years,4642,NaN,NaN,NaN,NaN,NaN,NaN,NaN
suicides,27820.0,NaN,NaN,NaN,242.574407,902.047917,0.0,3.0,25.0,131.0,22338.0
population,27820.0,NaN,NaN,NaN,1844793.617398,3911779.441756,278.0,97498.5,430150.0,1486143.25,43805214.0
sucid_in_hundredk,27820.0,NaN,NaN,NaN,12.816097,18.961511,0.0,0.92,5.99,16.62,224.97
country-year,27820,2321,Israel1991,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yearly_hdi,8364.0,NaN,NaN,NaN,0.776601,0.093367,0.483,0.713,0.779,0.855,0.944
yearly_gdp,27820.0,NaN,NaN,NaN,445580945887.007019,1453609688391.049805,46919625.0,8985352832.0,48114688201.0,260202000000.0,18120700000000.0
gdp_per_capita,27820.0,NaN,NaN,NaN,16866.464414,18887.576472,251.0,3447.0,9372.0,24874.0,126352.0
generation,27820,6,Generation X,6408,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
df.head()

,country,year,sex,age,suicides,population,sucid_in_hundredk,country-year,yearly_hdi,yearly_gdp,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2.156625e+09,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2.156625e+09,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2.156625e+09,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2.156625e+09,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2.156625e+09,796,Boomers

In [59]:
df_cont = pd.read_csv("E:\\Dessertation\\desertion_dkit_msc_2022_sep\\countryContinent.csv")
df_cont.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,�land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0

In [60]:
def find_mismatch (array_1, array_2, only_out=True):
    for i in array_1.unique():
         if i in array_2.unique():
            pass
         else:
            
            print(i, "is not found !")
            
    
find_mismatch(df.country, df_cont.country, True)

Macau is not found !
Republic of Korea is not found !
Saint Vincent and Grenadines is not found !
United Kingdom is not found !
United States is not found !

In [61]:
df = df.merge(df_cont[['country', 'continent', 'code_3']])
df.rename( {'code_3':'country_code' } , axis=1 , inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26392 entries, 0 to 26391
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            26392 non-null  object
 1   year               26392 non-null  int64
 2   sex                26392 non-null  object
 3   age                26392 non-null  object
 4   suicides           26392 non-null  int64
 5   population         26392 non-null  int64
 6   sucid_in_hundredk  26392 non-null  float64
 7   country-year       26392 non-null  object
 8   yearly_hdi         8040 non-null   float64
 9   yearly_gdp         26392 non-null  float64
 10  gdp_per_capita     26392 non-null  int64
 11  generation         26392 non-null  object
 12  continent          26392 non-null  object
 13  country_code       26392 non-null  object
dtypes: float64(3), int64(4), object(7)
memory usage: 3.0+ MB

In [62]:
df.head(5)

,country,year,sex,age,suicides,population,sucid_in_hundredk,country-year,yearly_hdi,yearly_gdp,gdp_per_capita,generation,continent,country_code
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2.156625e+09,796,Generation X,Europe,ALB
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2.156625e+09,796,Silent,Europe,ALB
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2.156625e+09,796,Generation X,Europe,ALB
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2.156625e+09,796,G.I. Generation,Europe,ALB
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2.156625e+09,796,Boomers,Europe,ALB

In [63]:
url = 'E:\\Dessertation\\desertion_dkit_msc_2022_sep\\suicide_moredata.csv'

second_data = pd.read_csv(url)
second_data.tail()
# second_data.head().T

,country,year,sex,age,suicides_no,population,suicidesper100k,country-year,yearlyHDI,GDPpyear,...,"Unemployment, total (% of total labor force) (modeled ILO estimate)","Physicians (per 1,000 people)",Strength of legal rights index (0=weak to 12=strong),"Labor force, total","Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Refugee population by country or territory of origin,"Contributing family workers, total (% of total employment) (modeled ILO estimate)",Access to electricity (% of population),"Lower secondary completion rate, total (% of relevant age group)"
15105,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,6.306708e+10,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
15106,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,6.306708e+10,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
15107,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,6.306708e+10,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
15108,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,6.306708e+10,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
15109,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,6.306708e+10,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
second_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15110 entries, 0 to 15109
Data columns (total 26 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   country                                                                            15110 non-null  object
 1   year                                                                               15110 non-null  int64
 2   sex                                                                                15110 non-null  object
 3   age                                                                                15110 non-null  object
 4   suicides_no                                                                        15110 non-null  int64
 5   population                                                                         15110 non-null  int64
 6   suicidesper100k                                                                    15110 non-null  float64
 7   country-year                                                                       15110 non-null  object
 8   yearlyHDI                                                                          4740 non-null   float64
 9   GDPpyear                                                                           15110 non-null  float64
 10  GDPpcapital                                                                        15110 non-null  int64
 11  generation                                                                         15110 non-null  object
 12  suicide%                                                                           15110 non-null  float64
 13  Individuals using the Internet (% of population)                                   15002 non-null  float64
 14  Expense (% of GDP)                                                                 13634 non-null  float64
 15  Compensation of employees (% of expense)                                           13538 non-null  float64
 16  Unemployment, total (% of total labor force) (modeled ILO estimate)                15110 non-null  float64
 17  Physicians (per 1,000 people)                                                      12782 non-null  float64
 18  Strength of legal rights index (0=weak to 12=strong)                               5618 non-null   float64
 19  Labor force, total                                                                 15110 non-null  int64
 20  Life expectancy at birth, total (years)                                            15110 non-null  float64
 21  Mobile cellular subscriptions (per 100 people)                                     15110 non-null  float64
 22  Refugee population by country or territory of origin                               14978 non-null  float64
 23  Contributing family workers, total (% of total employment) (modeled ILO estimate)  15110 non-null  float64
 24  Access to electricity (% of population)                                            14642 non-null  float64
 25  Lower secondary completion rate, total (% of relevant age group)                   9542 non-null   float64
dtypes: float64(16), int64(5), object(5)
memory usage: 3.0+ MB

In [65]:
second_data.columns = ['country', 'year', 'sex', 'age', 'suicides_no', 'population','suicidesper100k', 'country-year', 'yearlyHDI',
    'GDPpyear', 'GDPpcapita', 'generation', 'suicide%', 'Internetusers', 'Expenses', 'employeecompensation','Unemployment', 'Physiciansp1000', 'Legalrights', 'Laborforcetotal','Lifeexpectancy', 'Mobilesubscriptionsp100','Refugees', 'Selfemployed', 'electricityacess', 'secondarycompletion']

In [66]:
second_data.rename( {'GDPpyear':'yearly_gdp' } , axis=1 , inplace = True)
second_data.rename( {'GDPpcapita':'gdp_per_capita' } , axis=1 , inplace = True)
second_data.rename( {'yearlyHDI':'yearly_hdi' } , axis=1 , inplace = True)
second_data.rename( {'suicidesper100k':'sucid_in_hundredk' } , axis=1 , inplace = True)
second_data.rename( {'suicides_no':'suicides' } , axis=1 , inplace = True)

In [70]:
second_data.columns = map(str.lower, second_data.columns)

In [72]:
# remove special character
second_data.columns = second_data.columns.str.replace(' ', '')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26392 entries, 0 to 26391
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            26392 non-null  object
 1   year               26392 non-null  int64
 2   sex                26392 non-null  object
 3   age                26392 non-null  object
 4   suicides           26392 non-null  int64
 5   population         26392 non-null  int64
 6   sucid_in_hundredk  26392 non-null  float64
 7   country-year       26392 non-null  object
 8   yearly_hdi         8040 non-null   float64
 9   yearly_gdp         26392 non-null  float64
 10  gdp_per_capita     26392 non-null  int64
 11  generation         26392 non-null  object
 12  continent          26392 non-null  object
 13  country_code       26392 non-null  object
dtypes: float64(3), int64(4), object(7)
memory usage: 3.0+ MB

In [74]:
def find_mismatch (array_1, array_2, only_out=True):
    for i in array_1.unique():
         if i in array_2.unique():
            pass
         else:
            
            print(i, "is not found !")
            
    
find_mismatch(second_data.country, df_cont.country, True)

United Kingdom is not found !
United States is not found !

In [75]:
second_data = second_data.merge(df_cont[['country', 'continent', 'code_3']])
second_data.rename( {'code_3':'country_code' } , axis=1 , inplace = True)
second_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14366 entries, 0 to 14365
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  14366 non-null  object
 1   year                     14366 non-null  int64
 2   sex                      14366 non-null  object
 3   age                      14366 non-null  object
 4   suicides                 14366 non-null  int64
 5   population               14366 non-null  int64
 6   sucid_in_hundredk        14366 non-null  float64
 7   country-year             14366 non-null  object
 8   yearly_hdi               4500 non-null   float64
 9   yearly_gdp               14366 non-null  float64
 10  gdp_per_capita           14366 non-null  int64
 11  generation               14366 non-null  object
 12  suicide%                 14366 non-null  float64
 13  internetusers            14258 non-null  float64
 14  expenses                 12890 non-null  float64
 15  employeecompensation     12794 non-null  float64
 16  unemployment             14366 non-null  float64
 17  physiciansp1000          12122 non-null  float64
 18  legalrights              5306 non-null   float64
 19  laborforcetotal          14366 non-null  int64
 20  lifeexpectancy           14366 non-null  float64
 21  mobilesubscriptionsp100  14366 non-null  float64
 22  refugees                 14234 non-null  float64
 23  selfemployed             14366 non-null  float64
 24  electricityacess         13898 non-null  float64
 25  secondarycompletion      9254 non-null   float64
 26  continent                14366 non-null  object
 27  country_code             14366 non-null  object
dtypes: float64(16), int64(5), object(7)
memory usage: 3.2+ MB

In [76]:
second_data.columns

Index(['country', 'year', 'sex', 'age', 'suicides', 'population',
       'sucid_in_hundredk', 'country-year', 'yearly_hdi', 'yearly_gdp',
       'gdp_per_capita', 'generation', 'suicide%', 'internetusers', 'expenses',
       'employeecompensation', 'unemployment', 'physiciansp1000',
       'legalrights', 'laborforcetotal', 'lifeexpectancy',
       'mobilesubscriptionsp100', 'refugees', 'selfemployed',
       'electricityacess', 'secondarycompletion', 'continent', 'country_code'],
      dtype='object')

In [77]:
second_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14366 entries, 0 to 14365
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  14366 non-null  object
 1   year                     14366 non-null  int64
 2   sex                      14366 non-null  object
 3   age                      14366 non-null  object
 4   suicides                 14366 non-null  int64
 5   population               14366 non-null  int64
 6   sucid_in_hundredk        14366 non-null  float64
 7   country-year             14366 non-null  object
 8   yearly_hdi               4500 non-null   float64
 9   yearly_gdp               14366 non-null  float64
 10  gdp_per_capita           14366 non-null  int64
 11  generation               14366 non-null  object
 12  suicide%                 14366 non-null  float64
 13  internetusers            14258 non-null  float64
 14  expenses                 12890 non-null  float64
 15  employeecompensation     12794 non-null  float64
 16  unemployment             14366 non-null  float64
 17  physiciansp1000          12122 non-null  float64
 18  legalrights              5306 non-null   float64
 19  laborforcetotal          14366 non-null  int64
 20  lifeexpectancy           14366 non-null  float64
 21  mobilesubscriptionsp100  14366 non-null  float64
 22  refugees                 14234 non-null  float64
 23  selfemployed             14366 non-null  float64
 24  electricityacess         13898 non-null  float64
 25  secondarycompletion      9254 non-null   float64
 26  continent                14366 non-null  object
 27  country_code             14366 non-null  object
dtypes: float64(16), int64(5), object(7)
memory usage: 3.2+ MB

In [78]:
#good sample of the different regions.

countrynames = ['Argentina','Armenia','Australia',    'Austria',
    'Belgium',    'Brazil',    'Bulgaria',    'Canada',    'Chile',    'Colombia',    'Croatia',    'Cuba',    'Czech Republic',    'Denmark',
    'Finland',    'France',    'Germany',    'Greece',    'Hungary',    'Iceland',   'Ireland', 'Israel','Italy','Japan','Mexico', 'Netherlands','New Zealand','Norway','Poland', 'Portugal','Romania','Russian Federation','South Africa', 'Spain','Sweden', 'Switzerland','Thailand', 'Turkmenistan','Ukraine','United Kingdom', 'United States']

# countrynames

In [79]:
df1 = second_data.copy()
df = df1.iloc[np.where(df1.country == countrynames[0])]
for i, x in enumerate(countrynames[1:]):
    df = df.append(df1.iloc[np.where(df1.country == x)])
    
df.head()

,country,year,sex,age,suicides,population,sucid_in_hundredk,country-year,yearly_hdi,yearly_gdp,...,legalrights,laborforcetotal,lifeexpectancy,mobilesubscriptionsp100,refugees,selfemployed,electricityacess,secondarycompletion,continent,country_code
0,Argentina,1985,male,75+ years,202,363000,55.65,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG
1,Argentina,1985,male,55-74 years,485,1997000,24.29,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG
2,Argentina,1985,male,35-54 years,414,3346300,12.37,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG
3,Argentina,1985,female,55-74 years,210,2304000,9.11,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG
4,Argentina,1985,male,25-34 years,177,2234200,7.92,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG

In [80]:
df = df[df.year >= 1985]
df = df[df.year <= 2016]

In [82]:
df['country'] = df['country'].astype('category')
df['sex'] = df['sex'].astype('category')
df['generation'] = df['generation'].astype('category')
df['age'] = df['age'].astype('category')

In [83]:
df.head(2)

,country,year,sex,age,suicides,population,sucid_in_hundredk,country-year,yearly_hdi,yearly_gdp,...,legalrights,laborforcetotal,lifeexpectancy,mobilesubscriptionsp100,refugees,selfemployed,electricityacess,secondarycompletion,continent,country_code
0,Argentina,1985,male,75+ years,202,363000,55.65,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG
1,Argentina,1985,male,55-74 years,485,1997000,24.29,Argentina1985,0.694,8.841667e+10,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Americas,ARG

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13276 entries, 0 to 14029
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  13276 non-null  category
 1   year                     13276 non-null  int64
 2   sex                      13276 non-null  category
 3   age                      13276 non-null  category
 4   suicides                 13276 non-null  int64
 5   population               13276 non-null  int64
 6   sucid_in_hundredk        13276 non-null  float64
 7   country-year             13276 non-null  object
 8   yearly_hdi               4152 non-null   float64
 9   yearly_gdp               13276 non-null  float64
 10  gdp_per_capita           13276 non-null  int64
 11  generation               13276 non-null  category
 12  suicide%                 13276 non-null  float64
 13  internetusers            13192 non-null  float64
 14  expenses                 12124 non-null  float64
 15  employeecompensation     12076 non-null  float64
 16  unemployment             13276 non-null  float64
 17  physiciansp1000          11212 non-null  float64
 18  legalrights              4948 non-null   float64
 19  laborforcetotal          13276 non-null  int64
 20  lifeexpectancy           13276 non-null  float64
 21  mobilesubscriptionsp100  13276 non-null  float64
 22  refugees                 13144 non-null  float64
 23  selfemployed             13276 non-null  float64
 24  electricityacess         12964 non-null  float64
 25  secondarycompletion      8320 non-null   float64
 26  continent                13276 non-null  object
 27  country_code             13276 non-null  object
dtypes: category(4), float64(16), int64(5), object(3)
memory usage: 2.6+ MB

In [85]:
df.rename( {'suicides_no':'suicides' } , axis=1 , inplace = True)

In [87]:
df.to_csv('E:\\Dessertation\\desertion_dkit_msc_2022_sep\\output.csv',mode = 'w', index=False)
# outputting data to run models in live server